{% extends 'base.html' %}

{% block title %}hello{% endblock %}

{% block content %}

<h1>Upload Image</h1>
<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="image/*" id="upload" required>
    <label for="upload">Choose a file</label>
    <button type="submit">Submit</button>
</form>

{% if input_image or output_image %}
    <div class="image-container">
        {% if input_image %}
            <h2>Input Image</h2>
            <img src="{{ input_image }}" alt="Input Image">
        {% endif %}
    </div>

    <div class="image-container">
        {% if output_image %}
            <h2>Output Image</h2>
            <img src="{{ output_image }}" alt="Output Image">
        {% endif %}
    </div>
{% endif %}
</div>
{% endblock %}
